<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Population Builder: Error</title>
	<link rel="stylesheet" type="text/css" href="/resources/styles/main.css" />
	<style type="text/css">

		p {
			text-align: center;
		}

	</style>
</head>
<body>
	<div id="primary">
		<div id="secondary">
			<div id="column">
				<h1>Population Builder</h1>
				<p>Error: {{.ErrorMessage}}</p> 
			</div>
		</div>
	</div>
</body>
</html>

